<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <title>Home</title>

		<meta name="description" content="Free download theme onepage, clean and modern responsive for all"/>
		<meta name="keywords" content="responsive, html5, onepage, themes, template, clean layout, free web"/>
		<meta name="author" content="Thomsoon.com"/>
		
		
		<link rel="stylesheet" type="text/css" href="static/assets/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="static/assets/css/style.css" />
		<link rel="stylesheet" type="text/css" href="static/assets/css/style-responsive.css" />				

		
</head>

<body>





<div class="container">


<!-- section start-page -->

  <section class="start-page parallax-background" id="home">
  
    <div class="opacity" style="background-image: url(https://img.freepik.com/free-photo/vegetables-set-left-black-slate_1220-685.jpg);background-repeat: no-repeat;background-size: cover;"></div> <!-- Opacity color -->
      <div class="content">
        <div class="text">
        
     
          <h1>Recipe Generation from Food Images</h1><hr/>
          <p>Click "Recipe" to Upload the image or Scroll Down</p>
          
          <a href="#about-us"><div class="read-more">Recipe</div></a>
          
        </div>
        <div class="arrow-down"></div>
      </div>
  
  </section>

  <!-- section menu mobile -->
  

  
    <ul class="menu-click">
      <li><a href="/index1">Recipe-1</a></li>
      <li><a href="/home1">Recipe-2</a></li>
      <li><a href="/notebook">Algorithms</a></li>
      
      <li><a href="/login">Signout</a></li>
        
    </ul>
   
   
  <!-- section menu -->
  
  <section class="menu">

    <div class="menu-content">
    
   
    
      <ul id="menu">
        <li><a href="/index1">Recipe-1</a></li>
        <li><a href="/home1">Recipe-2</a></li>
        <li><a href="/notebook">Algorithms</a></li>
        
        <li><a href="/login">Signout</a></li>
        
      </ul>
    </div>
  
  
  </section>


  <!-- section about us -->
  
  <section class="about-us" id="about-us">
  
  <div class="content">
                                    
                                </div>
                             
                                <div class="col-sm-6">
                                    <div class="single_features_text" style="padding-top:10px;padding-bottom: 100px;">
                                    
                                    <p style="font-family:Times New Roman;font-size: 25pt;font-weight: bold;padding-bottom: 50px;">Upload the Image below!!!</p>
                                    
                                    <form style="margin-left: 25%;"  method = "POST" id="form"  action="/predict2" enctype = "multipart/form-data">
                                        <label>
                                            <input type="file" name="files" required/>
                                        </label>
                                        
                                    
                                        <input   type="submit" value="Submit">
                                        
                                    
                                    </form>
                                    
                                  </div>
                                </div>
                            </div>    
                            <br><br><br><br>
                            
                            </section>
                            <!-- Contact-->
                            
                                
                            
                            
                            
                            
                            
                            <script src="{{ url_for('static', filename='main.js') }}" type="text/javascript"></script>    
                            <!-- Scripts -->
                            
                            <script src="static/assets/js/jquery-1.11.0.min.js" type="text/javascript"></script>
                            <script src="static/assets/js/jquery-ui-1.10.4.min.js" type="text/javascript"></script> 
                            <script src="static/assets/js/jquery.nicescroll.js"></script> 
                            <script src="static/assets/js/jquery.sticky.js"></script> 
                            <script src="static/assets/js/masonry.pkgd.min.js"></script> 
                            <script src="static/assets/js/imagesloaded.pkgd.min.js"></script> 
                            
                            <script>
                            $(function(){
                            
                             var $container = $('.grid');
                            
                             $container.imagesLoaded( function(){
                               $container.masonry({
                                 itemSelector : 'li'
                               });
                             });
                            
                            });
                            </script>
                            <script src="static/assets/js/jquery.parallax.js"></script> 
                            <script src="static/assets/js/script.js"></script> 
                            
                            </body>
                            
                            </html>